<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TripMate</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">

</head>
    <body>
    <%- include("partials/banner") %>
    <section class="profile-section">
        <h4>Profile</h4>

        <form action="/avatar" method="post" id="avatar-form" enctype="multipart/form-data">
            <div class="profile-card">
                <div class="profile-img">
                    <img src="<%= user.photo || '/icons/user.png' %>" id="profile-avatar" alt="User avatar.">
                </div>
                <div class="profile-username">
                    <p><%= user.username %></p>
                </div>
            </div>

            <input type="file" name="avatarImg" id="file-input" style="display: none;" />
            <input type="submit" value="Upload File" />
        </form>

        <div class="profile-text"><span>Click to upload your avatar image.</span></div>
        <button class="profile-btn" id="edit-profile-btn" onclick="editProfile()">Edit</button>
        <form class="profile-input-group" action="/profile" method="post" encType="multipart/form-data">

            <label for="profile-name">Name</label>
            <input id="profile-name" class="profile-input" name="username" type="text" value=<%= user.username %> disabled />
            <label for="profile-email">Email</label>
            <input id="profile-email" class="profile-input" type="email" name="email" value=<%= user.email %> disabled />
            <label for="profile-pwd">Passwords</label>
            <input id="profile-pwd" class="profile-input" type="password" name="password" value=<%= user.password %> disabled />
            <button class="profile-btn" id="save-profile-btn" onclick="saveProfile()" disabled>Save</button>
        </form>


    </section>
    <a href="/logout" id="logout"><button class="logout-btn">Logout</button></a>
    <% if (error) { %>
        <script>alert("<%= error %>")</script>
    <% } %>

    <% if (success) { %>
        <script>
            alert("<%= success %>")
            setTimeout(()=>{
                window.location.href="/profile";
            },500);
        </script>
    <% } %>

    <%- include("partials/navbar") %>
    <script src="/js/profile.js"></script>
    </body>
</html>
